body{
<<<<<<< HEAD
  margin-top: 50px;
}

h1{
  color: #4183C4;
=======
  font-family: "Open Sans", sans-serif;
  color: DarkBlue;
  margin: 10px 50px 10px 50px;
  background-color: Ivory;

}

h1, h2{
  font-family: "Oswald", sans-serif;
}

img{
  float: left;
  margin-right: 10px;
>>>>>>> f6fa6b0805f2fea7e91f0586f07890db0fa2fd46
}